:root { 
    --white: #FFFFFF;
    --black: #000000;
    --primary-active: #0a7cb1;
    --primary-1: #19B5FE;
    --primary-2: #52C8FF;

    --gray-1: #E0E0E0;
    
    --border-grey-1: 1px solid var(--gray-1);
}